/*Shared Style*/
body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.btn-primary{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    margin: 20px auto;
}
/*Header*/
header{
    background-color: #fff4e8;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
/*Banner*/
.banner-container{
    width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner img{
    width: 100%;
}

/*resposive banner*/
/*mobile devices*/
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    .banner-container{
        width: 100%;
        text-align: center;
        margin: 0px auto;
    }
    nav{
        flex-direction: column;
    }
}
/*mdium devices*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 50px;
    }
    .banner-container{
        width: 100%;
        text-align: center;
        margin: 0px auto;
    }
    nav{
        flex-direction: column;
    }
}
/*Main Style*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 1.5rem;
}
.teams-content{
    padding-left: 4.8rem;
    padding-right: 4.8rem;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .of-our{
    color: #131313;
    font-weight: bold;
}
.teams-title .text-features{
    color: #FF900E;
    font-weight: bold;
}
.teams-description{
    color: #727272;
}
