/*Shared Style*/
body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.btn-primary{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    margin: 20px auto;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
/*Header*/
header{
    background-color: #fff4e8;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}

/*Banner*/
.banner-container{
    width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner img{
    width: 100%;
}


/*Main Style*/
main{
    max-width: 1440px;
    margin: 4.3rem auto;

}


.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-left: 4.3rem;
    margin-right: 4.3rem;
}
.teams-content{
    padding-left: 1.8rem;
    padding-right: 2.5rem;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    font-weight: 500;
}
.teams-title .of-our{
    color: #131313;
    font-weight: bold;
}
.teams-title .text-features{
    color: #FF900E;
    font-weight: bold;
}
.text-light-gray{
    color: #727272;
}
/*Feature Section*/
.features{
    display: flex;
    margin-top: 8.12rem;
    gap: 10rem;
}  
.feature-content .card{
    padding: 1.8rem;
    border-radius: 8px;
    background: #FFF;
    margin: 2rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-content .section-title{
    border-left: #FF900E 5px solid;
    padding: 1.25rem;
    width: 29.25rem;
    height: 6.25rem;
}
.ten-years-badge{
    background-color: #FF900E;
    color: #FFFFFF;
    height: 12.5rem;
    width: 21.3rem;
    border-radius: 8px;
    border: none;
    text-align: center;
    padding: 2.5rem;
    position: relative;
    bottom: 6.25rem;
    right: 5.62rem;
}
.ten-years-badge h2{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.ten-years-badge p{
    font-size: 1.25rem;
    font-weight: 600;
}

/*Facts Container*/
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.facts-card-container .cards-states{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 0px;
}
.facts-card-container .cards-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}

/*Sponsor Section*/
.Sponspors{
    text-align: center;
}
.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    gap: 1.25rem;
    align-items: center;
}
.sponsor-img-container img{
    width: 10.37rem;
    height: 3.12rem;
}

/*Footer Section*/
.footer{
    text-align: center;
    color: #424242;
    background-color: #fff4e8;
    max-width: 1440px;
    height: 6.25rem;
    margin: 4.3rem auto;
    border-radius: 8px;
}
.footer p{
    padding: 42px;
}

/*resposive banner*/
/*mobile devices*/
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    .banner-container{
        width: 100%;
        text-align: center;
        margin: 0px auto;
    }
    nav, .teams-container,.sponsor-img-container,.features {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .facts-card-container{
        flex-direction: column;
        gap: 1.5rem;  
    }
    .facts{
        margin: auto 2rem;
    }
    .feature-img>img{
        width: 100%;
    }
    .ten-years-badge{
        max-width: 250px;
        bottom: 0rem;
        right: 0rem;
    }
    .feature-content .section-title{
        border-left: #FF900E 5px solid;
        padding: 1.25rem;
        width: 22.25rem;
        height: 9rem;
    }
}




/*mdium devices*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 50px;
    }
    .banner-container{
        width: 100%;
        text-align: center;
        margin: 0px auto;
    }
    nav,.teams-container, .features{
        flex-direction: column;
    }
    .teams-content{
        margin: auto 4.3rem;
    }

    .facts{
        margin: auto 2rem;
    }
    .facts-card-container{
      gap: 20px;
    }
    .ten-years-badge{
        max-width: 250px;
        bottom: 0rem;
        right: 0rem;
    }
}